.promo {
  font-size: 0;
  
  &__img {
    display: inline-block;
    //width: 46%;
    vertical-align: top;
    text-align: center;
    margin-top: 50px;
    img {
      max-width: 100%;
    }

    @media (min-width: 769px) {
      text-align: left;
      margin-top: 0;
    }
  }

  &__text {
    display: inline-block;
    //width: 54%;
    vertical-align: top;
    text-align: center;

    @media (min-width: 769px) {
      text-align: left;
    }
  }

  &__headline {
    font-size: 30px;
    font-weight: 400;
    margin-top: 53px;
    letter-spacing: -.1px;
  }

  &__paragraph {
    font-size: 18px;
    font-weight: 300;
    margin-top: 35px;
    line-height: 30px;
  }
  
  &__buttons {
    position: relative;
    margin-top: 50px;
    text-align: center;

    @media (min-width: 376px) {
      margin-top: 30px;
    }
    
    @media (min-width: 769px) {
      text-align: left;
      margin-top: 58px;
    }
  }

  &__btn {
    width: 100%;
    margin: 0 0 10px !important;
  }

  @media (min-width: 376px) {

    &__btn {
      width: auto;
    }

    &__btn + &__btn {
      margin-left: 10px !important;
      margin-bottom: 0;
    }
  }
  
  &__logic {
    position: absolute;
    top: 26%;
    margin-top: 14px;
    left: 50%;
    margin-left: -14px;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: #34495e;
    font-size: 15px;
    background-color: #fff;
    text-align: center;
    line-height: 25px;

    @media (min-width: 376px) {
      top: 14px;
      margin-top: 0;
    }

    @media (min-width: 769px) {
      left: 175px;
    }
  }
}