.slider {
  position: relative;
  height: 400px;
  padding-top: 55px;

  @media (min-width: 650px) {
    height: 620px;
  }
}

.slider__background {
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 600px) {
    height: 510px;
  }
}