<section class="contacts">
    <div class="container">
        <div class="contacts__wrapper">
            <div class="contacts__text">
                <h4 class="contacts__header">Curabitur ornare neque</h4>
                <p class="contacts__paragraph">Pop-up pinterest woke locavore copper mug. Bicycle rights schlitz fashion
                    axe, succulents wolf cliche brunch. Sustainable blog godard gluten-free tofu fixie. Affogato bitters
                    waistcoat chia. Trust fund sartorial tacos green juice small batch, franzen synth shoreditch
                    glossier
                    crucifix lyft blue bottle. Fap iceland keytar mumblecore freegan tofu. Bushwick cold-pressed
                    gluten-free
                    cliche, pickled you probably haven't heard of them brooklyn.</p>
                <span class="contacts__adress"><span aria-hidden="true" class="fa fa-map-marker"></span>
                    ClaymoreLtd.  Street Name 123 23 45 Cityname</span>
                <a class="contacts__phone" href="tel:+4917640206387">
                        <span aria-hidden="true"
                              class="fa fa-phone"></span> +49 (0)176 - 402 063 87</a>
                <a class="contacts__mail" href="mailto:parturient@montes.com"><span aria-hidden="true"
                                                                                    class="fa fa-envelope"></span>
                    parturient@montes.com</a>
            </div>
            <div class="contacts__form contact-form">
                <form action="/" method="get">
                    <input class="contact-form__input contact-form__input--short" type="text" name="f-name"
                           placeholder="your name">
                    <input class="contact-form__input contact-form__input--short" type="email" name="f-email"
                           placeholder="your email">
                    <input class="contact-form__input" type="text" name="f-subject" placeholder="your subject">
                    <textarea class="contact-form__input" type="text" name="f-message" placeholder="your message"
                              rows="7"></textarea>
                    <input class="contact-form__btn btn btn--secondary" type="submit" value="Submit">
                    <input class="contact-form__btn btn btn--primary" type="reset" value="Reset">
                </form>
            </div>
        </div>
    </div>
</section>