<section class="hero" id="home">
    <!--<header class="hero__header">-->
        <!--<div class="container">-->
            <!--<a class="logo hero__logo" href="#">-->
                <!--<img class="logo__img" src="img/claymore-logo.png" alt="logo" width="154" height="56">-->
            <!--</a>-->
            <!--<nav class="nav hero__nav">-->
                <!--<a href="#" class="nav__item nav__item&#45;&#45;active">Home</a>-->
                <!--<a href="#" class="nav__item">About</a>-->
                <!--<a href="#" class="nav__item">Service</a>-->
                <!--<a href="#" class="nav__item">Features</a>-->
                <!--<a href="#" class="nav__item">Price</a>-->
                <!--<a href="#" class="nav__item">Contact</a>-->
                <!--<a href="#" class="nav__item nav__item&#45;&#45;stand-out">Login</a>-->
            <!--</nav>-->
        <!--</div>-->
    <!--</header>-->
    <div class="hero__content">
        <div class="container">
            <div class="promo">
                <div class="promo__img">
                    <img src="../img/ipad.png" alt="" class="promo__picture">
                </div>
                <div class="promo__text">
                    <h1 class="promo__headline">Quam eleifend metus commodo</h1>
                    <p class="promo__paragraph">luctus at sit amet urna. Quisque non augue tincidunt, egest
                        as massa non, elementum sem. Suspendisse mollis nulla
                        eu lorem ultricies dapibus.
                    </p>
                    <div class="promo__buttons">
                        <a href="#" class="promo__btn btn btn--primary">Purchase now</a>
                        <span class="promo__logic">or</span>
                        <a href="#" class="promo__btn btn btn--secondary">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>