<section class="people">
    <div class="container">
        <h3 class="people__header">What People Say</h3>
        <div class="feedback">
            <div class="feedback__img">
                <img src="img/poligonal.png" alt&="ava">
            </div>
            <article class="feedback_text">
                <h5 class="feedback__head">Excepteur sint occaecat</h5>
                <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                    amet vitae sem. Praesent sed convallis quam.</p>
            </article>
        </div>
        <div class="feedback">
            <div class="feedback__img">
                <img src="img/poligonal.png" alt&="ava">
            </div>
            <article class="feedback__text">
                <h5 class="feedback__head">Excepteur sint occaecat</h5>
                <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                    amet vitae sem. Praesent sed convallis quam.</p>
            </article>
        </div>
        <div class="feedback">
            <div class="feedback__img">
                <img src="img/poligonal.png" alt&="ava">
            </div>
            <article class="feedback__text">
                <h5 class="feedback__head">Excepteur sint occaecat</h5>
                <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                    amet vitae sem. Praesent sed convallis quam.</p>
            </article>
        </div>
        <div class="feedback feedback--mob-hidden">
            <div class="feedback__img">
                <img src="img/poligonal.png" alt&="ava">
            </div>
            <article class="feedback__text">
                <h5 class="feedback__head">Excepteur sint occaecat</h5>
                <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                    amet vitae sem. Praesent sed convallis quam.</p>
            </article>
        </div>
        <div class="feedback feedback--mob-hidden">
            <div class="feedback__img">
                <img src="img/poligonal.png" alt&="ava">
            </div>
            <article class="feedback__text">
                <h5 class="feedback__head">Excepteur sint occaecat</h5>
                <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                    amet vitae sem. Praesent sed convallis quam.</p>
            </article>
        </div>
        <div class="feedback feedback--mob-hidden">
            <div class="feedback__img">
                <img src="img/poligonal.png" alt&="ava">
            </div>
            <article class="feedback__text">
                <h5 class="feedback__head">Excepteur sint occaecat</h5>
                <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                    amet vitae sem. Praesent sed convallis quam.</p>
            </article>
        </div>
    </div>
</section>