<section class="sliders">
    <div class="container">
        <div class="carousel">
            <div class="carousel__item">
                <h3 class="carousel__header">Lorem ipsum dolor sit amet</h3>
                <span class="carousel__sub-header">
                    consectetur adipiscing elit. Maecenas facilisis ligula non ornare
                    vehicula.
                </span>
                <img class="carousel__img" src="../img/laptop.png" alt="single slide">
            </div>
            <!--<div class="carousel__item">-->
                <!--<h3 class="carousel__header">Lorem ipsum dolor sit amet</h3>-->
                <!--<span class="carousel__sub-header">-->
                    <!--consectetur adipiscing elit. Maecenas facilisis ligula non ornare-->
                    <!--vehicula.-->
                <!--</span>-->
            <!--</div>-->
            <!--<div class="carousel__item">-->
                <!--<h3 class="carousel__header">Lorem ipsum dolor sit amet</h3>-->
                <!--<span class="carousel__sub-header">-->
                    <!--consectetur adipiscing elit. Maecenas facilisis ligula non ornare-->
                    <!--vehicula.-->
                <!--</span>-->
            <!--</div>-->
        </div>

    </div>
</section>