.feedback {
  color: #34495e;
  margin-bottom: 32px;

  &__head {
    font-size: 24px;
    margin-top: 24px;
  }
  &__paragraph {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 29px;
  }
}