.contacts {
  background: #34495e;
  padding-top: 105px;
  padding-bottom: 108px;

  &__text {
    color: #fff;
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    a {
      color: inherit;
    }

    .fa {
      font-size: 1.6em;
      vertical-align: -4px;
    }
  }

  &__header {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__paragraph {
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 40px;
  }

  &__adress {
    display: block;
    margin-bottom: 20px;
  }

  &__phone {
    display: block;
    margin-bottom: 20px;
  }

  &__mail {
    display: block;
  }
}