.hero {
  background: url('../img/hero-bg.png') center no-repeat;
  background-size:cover;
  height: 879px;
  color: white;

  &__header {
    padding-top: 70px;
    padding-bottom: 20px;
    @include clearfix;
  }

  &__logo {
    float: left;
  }

  &__nav {
    margin-top: 7px;
    float: right;
  }

  &__content {
    margin-top: 173px;
  }
}