.nav {
  display: block;
  font-size: 0;

  &__item {
    display: inline-block;
    font-size: 18px;
    padding: 12px;

    &--stand-out {
      font-weight: 700;
    }

    &--active {
      border-bottom: 3px solid #1abc9c;
    }

    &:hover {
      background: rgba(#1abc9c, .2);
    }
  }
}