.promo {
  font-size: 0;
  &__img {
    display: inline-block;
    width: 46%;
    vertical-align: top;

  }

  &__text {
    display: inline-block;
    width: 54%;
    vertical-align: top;

  }

  &__headline {
    font-size: 30px;
    font-weight: 400;
    margin-top: 53px;
    letter-spacing: -.1px;
  }

  &__paragraph {
    font-size: 18px;
    font-weight: 300;
    margin-top: 35px;
    line-height: 30px;
  }
  
  &__buttons {
    position: relative;
    margin-top: 58px;
  }

  &__btn {
    margin-right: 10px;
  }
  
  &__logic {
    position: absolute;
    top: 14px;
    left: 162px;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: #34495e;
    font-size: 15px;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
  }
}