<section class="features">
    <div class="container">
        <div class="features__wrapper">
            <div class="f-card features__unit">
                <div class="f-card__img">
                    <img src="./images/ico-screen.png" alt="">
                </div>
                <h3 class="f-card__name">Fully Baked up </h3>
                <p class="f-card__article">Curabitur tincidunt dapibus odio, eu gravida felis blandit vel. Vivamus feugiat auctor lorem non eleifend. Nam eu pellentesque est, vitae interdum nisi.</p>
            </div>
            <div class="f-card features__unit">
                <div class="f-card__img">
                    <img src="./images/ico-heart.png" alt="">
                </div>
                <h3 class="f-card__name">Build With Love</h3>
                <p class="f-card__article">Nullam dignissim felis diam, sed ultricies nisl ultricies quis. Maecenas feugiat urna ante, et viverra tellus facilisis ut. In hac habitasse platea dictumst.</p>
            </div>
            <div class="f-card features__unit">
                <div class="f-card__img">
                    <img src="./images/ico-responsive.png" alt="">
                </div>
                <h3 class="f-card__name">Fully Responsive</h3>
                <p class="f-card__article">Aliquam mattis massa at urna tincidunt ultrices. Curabitur lobortis ante vulputate, imperdiet felis a, adipiscing odio aliquam pharetra molestie mauris</p>
            </div>
        </div>
    </div>
</section>