<section class="people">
    <div class="container">
        <h3 class="people__header">What People Say</h3>
        <div class="feedback-wrappper">
            <div class="feedback">
                <div class="feedback__img">
                    <div class="hex">
                        <div class="hex__inner-1">
                            <div class="hex__inner-2">
                                <img class="hex__img" src="./images/ava-1.jpg" alt="Jon Doe">
                            </div>
                        </div>
                    </div>
                </div>
                <article class="feedback__text">
                    <h5 class="feedback__head">Excepteur sint
                        occaecat</h5>
                    <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                        amet vitae sem. Praesent sed convallis quam.</p>
                </article>
            </div>
            <div class="feedback">
                <div class="feedback__img">
                    <div class="hex">
                        <div class="hex__inner-1">
                            <div class="hex__inner-2">
                                <img class="hex__img" src="./images/ava-2.jpg" alt="Ketty Perry">
                            </div>
                        </div>
                    </div>
                </div>
                <article class="feedback__text">
                    <h5 class="feedback__head">Excepteur sint occaecat</h5>
                    <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                        amet vitae sem. Praesent sed convallis quam.</p>
                </article>
            </div>
            <div class="feedback">
                <div class="feedback__img">
                    <div class="hex">
                        <div class="hex__inner-1">
                            <div class="hex__inner-2">
                                <img class="hex__img" src="./images/ava-3.jpg" alt="Mike Woods">
                            </div>
                        </div>
                    </div>
                </div>
                <article class="feedback__text">
                    <h5 class="feedback__head">Excepteur sint occaecat</h5>
                    <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                        amet vitae sem. Praesent sed convallis quam.</p>
                </article>
            </div>
            <div class="feedback hidden-xs">
                <div class="feedback__img">
                    <div class="hex">
                        <div class="hex__inner-1">
                            <div class="hex__inner-2">
                                <img class="hex__img" src="./images/ava-4.jpg" alt="Will Smith">
                            </div>
                        </div>
                    </div>
                </div>
                <article class="feedback__text">
                    <h5 class="feedback__head">Excepteur sint occaecat</h5>
                    <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                        amet vitae sem. Praesent sed convallis quam.</p>
                </article>
            </div>
            <div class="feedback hidden-xs">
                <div class="feedback__img">
                    <div class="hex">
                        <div class="hex__inner-1">
                            <div class="hex__inner-2">
                                <img class="hex__img" src="./images/ava-5.jpg" alt="Joan Rolling">
                            </div>
                        </div>
                    </div>
                </div>
                <article class="feedback__text">
                    <h5 class="feedback__head">Excepteur sint occaecat</h5>
                    <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                        amet vitae sem. Praesent sed convallis quam.</p>
                </article>
            </div>
            <div class="feedback hidden-xs">
                <div class="feedback__img">
                    <div class="hex">
                        <div class="hex__inner-1">
                            <div class="hex__inner-2">
                                <img class="hex__img" src="./images/ava-6.jpg" alt="Vic Firth">
                            </div>
                        </div>
                    </div>
                </div>
                <article class="feedback__text">
                    <h5 class="feedback__head">Excepteur sint occaecat</h5>
                    <p class="feedback__paragraph">Sed non massa quis nisl tincidunt posuere sit
                        amet vitae sem. Praesent sed convallis quam.</p>
                </article>
            </div>
        </div>
    </div>
</section>