<section class="slider">
    
    <div class="slider__background">
        <img src="./images/section-bg.jpg"
             srcset="./images/section-bg-320.jpg 320w,
                     ./images/section-bg-640.jpg 640w,
                     ./images/section-bg-1200.jpg 1200w,
                     ./images/section-bg-1500.jpg 1500w"
             alt="blurred city view">
    </div>

    <div class="container">

        <div class="claymore-carousel">

            <img class="claymore-carousel__laptop"
                 src="./images/laptop.png"
                 srcset="./images/laptop-sm.png 280w,
                         ./images/laptop.png 807w"
                 sizes="(min-width: 650px) 807px, 430px"
                 alt="laptop">

            <div class="claymore-carousel__wrapper">
                <div class="claymore-carousel__item">
                    <h3>Succulents brunch tbh</h3>
                    <p>90's VHS est readymade cred meggings af id odio art party truffaut.</p>
                    <img src="./images/slide1.png"
                         srcset="./images/slide1-sm.png 280w,
                                 ./images/slide1.png 480w"
                         sizes="(min-width: 650px) 480px, 242px"
                         alt="First Slide">
                </div>
                <div class="claymore-carousel__item">
                    <h3>Vinyl distillery typewriter labore</h3>
                    <p>Deserunt et vegan swag forage godard laborum locavore narwhal.</p>
                    <img src="./images/slide2.png"
                         srcset="./images/slide2-sm.png 280w,
                                 ./images/slide2.png 480w"
                         sizes="(min-width: 650px) 480px, 242px"
                         alt="Second Slide">
                </div>
                <div class="claymore-carousel__item">
                    <h3>Brunch intelligentsia culpa placeat DIY</h3>
                    <p>Delectus laboris vegan retro, pinterest mustache prism franzen etsy affogato.</p>
                    <img src="./images/slide3.png"
                         srcset="./images/slide3-sm.png 280w,
                                 ./images/slide3.png 480w"
                         sizes="(min-width: 650px) 480px, 242px"
                         alt="Third Slide">
                </div>
            </div>

        </div><!--  /.claymore-carousel  -->

    </div><!--  /.container  -->

</section>